.logo {
  display: inline-block;
  max-height: 100px;
}
.percent-complete-number {
  font-size: 60px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 900;
  fill: #7f181b;
}
.percent-complete-label {
  font-size: 18px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 900;
  fill: #7f181b;
}

#graph {
  text-align: center;
}
#update-control {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
input:focus {
  outline: 0;
}
.clickable {
  cursor: pointer;
}
